:root {
  --okolkata-chocolate: #401a00;
  --okolkata-lightGrey: ##e9ecee;
}
body{
	color: var(--okolkata-chocolate);
}
/*---------------------------------------------Heder Section----------------------------------*/
.headerSection{
	height: 50px;
	position: fixed;
    top: 0;
    z-index: 16;
	background: var(--okolkata-chocolate);
	-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}
.logoImage{
	width:126px;
}
.bookmarkIcon{
	font-size: 24px;
    margin: 10px 5px 0px 0px;
}
.bookmarkIcon2{
	font-size: 24px;
    margin: 0px 5px 0px 0px;
}
.shareIcon{
	font-size: 24px;
    color: #008a00;
    margin: 10px 5px 0px 0px;
}
.bellIcon{
	font-size: 24px;
    color: #ff5e00;
    margin: 10px 15px 0px 5px;
}
.notificationCount{
	background-color: #ffe000;
    min-width: 8px;
    color: red;
    border-radius: 50%;
    padding: 0px 6px;
    position: absolute;
    right: 6px;
    top: 4px;
    border: .5px solid red;
}
.mobmenu{
	position: absolute;
	/*background-color:#CCC;
	opacity: 0.4;
    filter: alpha(opacity=40);*/
    /* For IE8 and earlier */
    z-index: 16;
}
.fadeMenuBG{
	/*background-image: linear-gradient(var(--okolkata-chocolate), #FFF);*/
	background-color:var(--okolkata-chocolate);
	opacity:0.7;
}
.mobMenuItem{
	font-size: 22px;
	color:#fff;
    /*border-bottom: 1px solid #fff;*/
    margin: 5px 0px;
}
/*---------------------------------------------Heder Section----------------------------------*/

/*---------------------------------------------Home Page Section------------------------------*/
.screenClass{
	overflow-y:scroll;
	/*border:1px solid red;*/
}
.bannerImgHolder{
	padding-top:16px;
	padding-bottom:16px;
	background-color:#ebebeb;
}
.bannerImgHolder img{
	width:100%;
	border-radius: 6px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.postHeaderHolder{
	margin: 20px 0px 20px 0px;
	border-bottom: 1px solid #CCC;
}
.postHeader{
	background-color: #ebebeb;
    	float: left;
    	font-size: 18px;
    	padding: 5px 10px;
	max-width:290px;
}
.postImage{
	width: 100%;
	height: 225px;
	background-size: cover;
    	border-radius: 8px;
	margin-bottom: 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.shocialBtns {
    background-color: #291515ab;
    float: right;
    padding: 5px;
    border-radius: 6px 0px 0px 6px;
    margin-top: 10px;
}
.headLineOnFade{
	position: absolute;
    bottom: 26px;
	width:100%;
    font-size: 22px;
    color: #FFF;
    text-align: center;
	padding: 0px 10px;
}
.postOtherDetails{
	position: absolute;
    bottom: 5px;
	width:100%;
    font-size: 16px;
    color: #FFF;
	padding: 0px 5px;
}
.tagCloudHolder{
	background-color: #ebebeb;
}
.tagCloudHeaderHolder{
	margin: 20px 0px 20px 0px;
	border-bottom:1px solid #fff;
}
.tagCloudHeader{
	background-color: #fff;
    font-size: 20px;
    float: left;
    padding: 5px 10px;
}
.tagCloudItem{
	background-color: #fff;
    font-size: 16px;
    float: left;
    padding: 5px 10px;
	margin: 4px 5px 4px 0px;
}
.socialIconHolder{
	background-color: #ebebeb;
	margin-bottom: 20px;
}
.socialIconHeaderHolder{
	margin: 20px 0px 20px 0px;
	border-bottom:1px solid #fff;
}
.socialIconHeader{
	background-color: #fff;
    font-size: 20px;
    float: left;
    padding: 5px 10px;
}
/*---------------------------------------------Home Page Section------------------------------*/

/*---------------------------------------------Individual Post Section------------------------*/
.postContent{
	word-break: break-word;
}
.postContent img{
	max-width:96% !important;
	width:auto;
	margin:5px;
}
.postContent iframe{
	max-width:100% !important;
}
.relatedPostScroller{
	overflow-x: scroll;
}
.relatedPostImage{
	width: 242px;
	height: 160px;
	background-size: cover;
    border-radius: 8px;
	margin: 0px 10px 20px 0px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.relatedHeadLineOnFade{
	position: absolute;
    bottom: 10px;
	width:100%;
    font-size: 22px;
    color: #FFF;
    text-align: center;
	padding: 0px 10px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 15px;
    position: relative;
	margin: 0px 0px 5px 0px;
}
/*---------------------------------------------Individual Post Section------------------------*/

/*---------------------------------------------Fotter Section---------------------------------*/
.footerSection{
	position: fixed;
    background-color: var(--okolkata-chocolate);
    color: #fff;
    text-align: center;
    bottom: 0px;
}
/*---------------------------------------------Fotter Section---------------------------------*/

/*---------------------------------------------Healing CSS Classes-----------------------------*/
.nopaddingOnly {
	padding:0!important;
}
.noLeftPaddingOnly {
	padding-left:0px !important;
	padding-right:5px !important
}
.makeHazy{
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}
.pomptMsg{
	padding: 20px 14px 14px 14px;
    font-size: 18px;
    color: #ffffff;
    background: #131212d1;
    border-radius: 6px;
}
.hover{
	cursor:pointer;
}
.blue{
	color:#162d82;
}
.red{
	color:red;
}
.lightRed{
	color: #ff7c7c;
}
.violate{
	color: #ae55ff;
}
.green{
	color: #309a2f;
}
.sky{
	color: #4abbf1;
}
.orange{
	color: #f58a1c;
}
.white{
	color:#FFF;
}
.white a{
	color:#FFF;
}
.themeColor{
	color:var(--okolkata-chocolate);
}
.normalMargin{
	margin: 16px 16px 0px 16px;
}
.w100p{
	width : 100%;
}
.w18px{
	width : 18px;
}
.h100p{
	height:100%;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
.f18{
	font-size:18px;
}
.f22{
	font-size:22px;
}
.f24{
	font-size:24px;
}
.marTop10{
	margin-top:10px;
}
.marBot10{
	margin-bottom:10px;
}
.marLeft5{
	margin-left:5px;
}
.marLeft10{
	margin-left:10px;
}
.marRight5{
	margin-right:5px;
}
/*---------------------------------------------Healing CSS Classes-----------------------------*/